{% extends "base.html" %}
{% block content %}
<style>
  .btn-secondary{
    background: none;
    color:#27a776;
    border: 1px solid #27a776;
  }
  .btn-secondary:hover{
    background-color: #27a776;
  }
</style>
  <main id="main" data-aos="fade" data-aos-delay="1500">

    <!-- ======= End Page Header ======= -->
    <div class="page-header d-flex align-items-center">
      <div class="container position-relative">
        <div class="row d-flex justify-content-center">
          <div class="col-lg-6 text-center">
            <h2>Album <span class="album_title">{{ album.album_title }}</span> Images</h2>
            <p>View all your photos bellow</p>

            <a class="cta-btn" href="{% url 'add_photo' object.id %}">Add photo</a>

          </div>
        </div>
      </div>
    </div><!-- End Page Header -->

    <!-- ======= Gallery Section ======= -->
    <section id="gallery" class="gallery">
      <div class="container-fluid">

        <div class="row gy-4 justify-content-center">
            {% for photo in album_photos %}
          <div class="col-xl-3 col-lg-4 col-md-6">
            <div class="gallery-item h-100">
              <img src="{{ photo.image.url }}" class="img-fluid" alt="">
              <div class="gallery-links d-flex align-items-center justify-content-center">
                <a href="{{ photo.image.url }}" title="{{ photo.photo_title }}" class="glightbox preview-link"><i class="bi bi-arrows-angle-expand"></i></a>
                <a href="{% url 'photo_detail' photo.id %}" class="details-link"><i class="bi bi-link-45deg"></i></a>
              </div>
            </div>
          </div><!-- End Gallery Item -->
          {%endfor%}
        </div>
        <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{% url 'album-update' object.id %}">Update</a>
      <a class="btn btn-danger btn-sm mt-1 mb-1" href="{% url 'album-delete' object.id %}">Delete</a>
      </div>
    </section><!-- End Gallery Section -->
  </main><!-- End #main -->

  {% endblock content %}