{% extends "base.html" %}
{% block content %}
{% if messages %}
{% for message in messages %}
    <script>
        alert('{{ message }}');
    </script>
{% endfor %}
{% endif %}
<!-- ======= Hero Section ======= -->
  <section id="hero" class="hero d-flex flex-column justify-content-center align-items-center" data-aos="fade" data-aos-delay="1500">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-6 text-center">
          <h2>Welcome to<span>Photo album</span>Capture, Create And Cherish Your Memories.</h2>
          <p><br>Seamlessly upload and organize your photos, design stunning albums with ease, and relive your moments anytime, anywhere. Start Building Beautiful Albums Today</p>
          <a class="btn-get-started" href="">View more</a>
        </div>
      </div>
    </div>
  </section><!-- End Hero Section -->

    
      </div>
    </section><!-- End Gallery Section -->

  </main><!-- End #main -->
  
  <div id="preloader">
    <div class="line"></div>
  </div>

  {% endblock content %}