{% extends "base.html" %}
{% block content %}
<style>
  .gallery{
    margin-top: 18vh;
    max-width: 50vw;
  }
  .media-body{
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    border-bottom: 1px solid #fafafa;
  }
  .date{
  color: gold;
  }
  .date:hover{
    font-size: 112%;
  }
  span{
    color: #27a776;
    text-transform: capitalize;
  }
  span:hover{
    color: #fafafa;
  }
  .create{
    font-size: 1rem;
    border: 0;
    text-decoration: none;
    background-color: #27a776;
    color: #fafafa;
    padding: .3rem;
    border-radius: 3px;
  }
  .create:hover{
    background: none;
    border: 1px solid #27a776;
    color: #27a776;
    font-size: 1.1rem;
  }
  .btn-get-started{
    border: 1px solid #27a776;
    padding: .2rem .5rem;
    border-radius: 4px;
  }
  .btn-get-started:hover{
    border: 0;
    background-color: #27a776;
    padding: .2rem .5rem;
    border-radius: 4px;
    color: #161718;
    font-weight: 600;
    font-size: 14px;
  }
  @media(max-width: 450px) {
  .gallery{
  max-width: 100%;
  padding: 7%;
  font-size: 80%;
  }
  .date:hover{
    font-size: 100%;
  }
}

</style>
<section id="gallery" class="gallery">
    <h2 class="mb-3">ALbums by <span>{{ view.kwargs.username }}</span></h2>

    <div class="article-metadata">
        <a href="{%url 'user_albums' user.username%}"></a>
    </div>
        <article class="media content-section">
          <img class="rounded-circle article-img" src="{{ user.profile.image.url }}">
          {% for album in albums %}
          <div class="media-body">
            <div class="article-metadata">
             <h2><a class="mr-2" href="{% url 'album-detail' album.id %}">{{ album.album_title }}</a></h2> 
              <p><span class="date">created on </span><small >{{ album.date_created|date:"F d, Y" }}</small></p>
              <p>Has {{ album.photo_set.count }} photos</p>
            </div>
            <div class="view">
              <a class="btn-get-started" href="{% url 'album-detail' album.id %}">View</a>
            </div>
          </div>
          {% endfor %}
        </article>
        <br>
    {%if is_paginated %}
        {%if page_obj.has_previous%}
          <a class="btn btn-outline-info mb-4" href="?page=1">First</a>
          <a class="btn btn-outline-info mb-4" href="?page={{page_obj.previous_page_number}}">Previous</a>
        {%endif%}
        {%for num in page_obj.paginator.page_range%}
          {%if page_obj_number == num %}
            <a href="?={{num}}" class="btn btn-info mb-4 ">{{num}}</a>
          {% elif num > page_obj.number|add:'-3' and num < page_obj_number|add:'-3' %}
            <a href="?page={{num}}" class="btn btn-outline-info">{{num}}</a>
          {%endif%}
        {%endfor%}
        {% if page_obj.has_next%}
          <a class="btn btn-outline-info mb-4" href="?page={{page_obj.next_page_number}}">Next</a>
          <a class="btn btn-outline-info mb-4" href="?page={{page_obj.paginator.num_pages}}">Last</a>
        {%endif%}
    {%endif%}

        <a class="create" href="{%url 'album-create'%}">Create Album</a>

          
  </section>
{% endblock content %}