:root {
    --main-color: hsl(30, 11%, 93%);
    --black: #13131a;
    --bg: #010103;
    --border: .1rem solid rgba(255, 255, 255, .3);
}

* {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: .2s linear;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 9rem;
    scroll-behavior: smooth;
}

html::-webkit-scrollbar {
    width: .8rem;
}

html::-webkit-scrollbar-track {
    background: transparent;
}

html::-webkit-scrollbar-thumb {
    background: #fff;
    border-radius: 5rem;
}

section {
    padding: 2rem 7%;
}

.heading {
    text-align: center;
    color: blue;
    text-transform: uppercase;
    padding-bottom: 1.8rem;
    font-size: 3rem;
}
.btn{
    margin-top: 1rem;
    border: none;
    display: inline-block;
    padding: .5rem 2.5rem;
    font-size: 1.7rem;
    color: #111;
    background: rgb(238, 241, 241);
    cursor: pointer;
}

.btn:hover {
    letter-spacing: .2rem;
    color: #fff;
}
.album .box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    gap: 1.5rem;
}

.album .box-container .box {
    padding: 1rem;
    text-align: center;
    border: var(--border);
    background: var(--main-color);
}

.album .box-container .box img {
    height: 15rem;
    margin: 1rem 0;
    padding: 1rem;
}


.album .box-container .box h3 {
    color: blue;
    font-size: 1.8rem;
    padding: .5rem 0;
}


#images .box-container .box:hover {
    background: #fff;
}

#images .box-container .box:hover>* {
    color: var(--black);
}


/* media queries */

@media(max-width:991px) {
    html {
        font-size: 55%;
    }
    .header {
        padding: 1.5rem 2rem;
    }
    section {
        padding: 2rem;
    }
}

@media(max-width:768px) {
    #menu-btn {
        display: inline-block;
    }
    .header .navbar {
        position: absolute;
        top: 100;
        right: -100%;
        background: #fff;
        width: 30rem;
        height: calc(100vh - 9.5rem);
    }
    .header .navbar .active {
        right: 0;
    }
    .header .search-form {
        width: 90%;
        right: 2rem;
    }
    .home {
        background-position: left;
        justify-content: center;
        text-align: center;
    }
    .home .content h3 {
        font-size: 4.5rem;
    }
    .home .content p {
        font-size: 1.5rem;
    }
}

@media(max-width: 450px) {
    html {
        font-size: 50%;
    }
    .login {
        display: none;
    }
}