{%extends 'base.html'%}

{%block content%}
<style>
	.center{
       margin-top: 15vh;
    }
    form{
        margin: auto;
        max-width: 50vw;
        padding: 5%;
    }
    .btn-primary{
		background-color: inherit;
        border: 1px solid  #13b979;
		color: #111;
    }
    .btn-primary:hover{
        background-color: #13b979;
        font-weight: 500;
    }
	.btn-outline{
		border: 1px solid  #fc2929;
		color: #fc2929;
	}
	.btn-outline:hover{
		background-color: rgb(230, 27, 27);
        border: none;
		color: #fafafa;
	}
    
        @media(max-width:991px) {
			.center{
    	margin-top: 22vh;
    	}
            form{
                max-width: 95vw;
                padding: 3%;
            }
        }
		form h2{
			font-size: 1.2rem;
		}
        @media(max-width: 450px) {
            form{
                max-width: 75vw;
                padding: 3%;
            }
        }
</style>
<div class="center">
	<form method="post" class="card">
		{% csrf_token %}
	    <h2 class="text-center">Reset Password</h2>
		{% for field in form %}
	    		{{ field.label_tag }} 
	        	{{ field }}
	        	{% if field.errors %}
	        		<small>{{ field.errors|striptags  }}</small> 
	        	{% endif %}
		{% endfor %}
		<br>
		<div class="form-buttons">
			<input type="submit" value="Send" class="btn btn-primary">
			<a href="{%url 'login' %}"  class="btn btn-outline">Cancel</a>
		</div>
	</form>
	</div>
{%endblock content%}