{% extends "base.html" %}
{% block content %}
<div class="login-page">
     <div class="form" id="form">
        <div id="create-account" class="login_container">
            <!-- <h1>Sign Up below</h1> -->
            <form method="post" autocomplete="off">
                {% csrf_token %}
                {% if messages %}
                    {% for message in messages %}
                        <h2 class="error">{{message}}</h2>
                    {% endfor %}
                {% endif %}
                <fieldset class="form-group">
                    <legend class="border-bottom mb-4">SIGN UP BELOW</legend>
                    <input id="email_signUp" name="email" type="email" placeholder="Email" required>
					<input id="name" name="fullname" type="text" placeholder="Full Name" required>
					<input id="username" name="username" type="text" placeholder="Username" required>
					<input id="password1" name="password1" type="password" placeholder="Password" required>
					<input id="password2" name="password2" type="password" placeholder="Confirm Password" required>
                </fieldset>
                <button id="Register_btn" type="submit">Sign Up</button>
                <center><a id="return_btn" href="{% url 'login' %}">Already have an account</a></center>
            </form>
        </div>
    </div>
</div>   
 {%endblock content%}